<div class="review-card mb-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Title: 21521{title}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Username: 21521{username}</h6>
      <p class="card-text">Content: 21521{content}</p>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted">Date: 21521{date}</small>
        <small class="text-muted">Rate: 
          <span class="badge badge-secondary">21521{rate}</span>
        </small>
      </div>
    </div>
  </div>
</div>
