* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Jost", sans-serif;
  }
  
  body {
    width: 100%;
    margin: 0;
  }
  
  #container {
    margin: 0 auto;
    width: 1200px;
    background-color: #ccc;
    padding-top: 6px;
    padding-bottom: 2px;
  }
  
  #header {
    margin: 0 6px 6px 6px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-radius: 5px;
  }
  
  .title {
    font-size: 28px;
  }
  
  .rightOfHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .fs15 {
    font-size: 15px;
  }
  
  .darkMode {
    display: flex;
    margin-top: 18px;
  }
  
  .darkModeBtn {
    padding-right: 8px;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .labelDarkMode {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked + .labelDarkMode {
    background-color: #4caf50;
  }
  
  .labelDarkMode:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top: 2.5px;
    transition: 0.4s;
  }
  
  input[type="checkbox"]:checked + .labelDarkMode:after {
    transform: translateX(25px);
  }
  
  .searchMoviePage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .searchMovie {
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 16px;
  }
  
  .searchMovieImg {
    width: 100%;
    height: 440px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .searchMovieInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  .searchMovieName {
    font-size: 14px;
    padding: 4px 8px;
    color: white;
  }
  
  button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  button:focus {
    outline: none;
  }
  /* ----------------------------loading------------------------------ */
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* --------------------------------------------------------------------------------------------- */
  #nav {
    margin: 8px 6px 6px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-radius: 5px;
  }
  
  .homeBtn {
    padding: 4px;
  }
  
  .homeBtn:hover {
    cursor: pointer;
  }
  .searchWrap {
    padding: 2px;
  }
  .searchInput {
    padding: 8px;
    width: 210px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .searchInput:focus {
    outline: none;
  }
  
  .searchBtn {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #198754;
    margin-left: 4px;
    background-color: white;
  }
  
  .searchBtn:hover {
    cursor: pointer;
    background-color: #198754;
    color: white;
  }
  /* ----------------------------------------------------------------------- */

  /* ---------------------------------------------------------------------------------------- */
  #footer {
    margin: 8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-radius: 5px;
  }
  